NODE_ENV=development
VUE_APP_ROOT_API=//url.local/api
VUE_APP_PUBLIC_PATH=/
<%_ if (options.plugins.includes('analytics')) { _%>
VUE_APP_ANALYTICS=
<%_ } _%>
<%_ if (options.plugins.includes('sentry')) { _%>
VUE_APP_SENTRY=
<%_ } _%>
